@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

.corpo_humano{
    width: 400px;
    margin-top: 25%;
}
.img_orgao{
    width: 85px;
    padding: 15px;
    border-radius: 50%;
    box-shadow: -7px 15px 15px -1px rgb(209, 209, 209);
    transition:0.6s ease;
}
.img_orgao:hover {
    background-color: rgba(204, 204, 204, 0.534);
    transform: translateY(-5px) scale(1.05);
    box-shadow: -10px 15px 10px -1px rgb(201, 201, 201);
    cursor: pointer;
}
h4{
    color: black;
    font-weight: bold;
}
*{
    font-family: "Poiret One", sans-serif;
}
#col_1{
    justify-content: center;
}
.conjunto_A{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 20px;
}
.conjunto_B{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 20px;
}
p{
    text-align: justify;
    width: 300px;
    font-size: 18px;
}
.fade-in {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.fade-in.show {
    opacity: 1;
}

h5{
    padding: 100px 0;

}